

.sign-page-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: linear-gradient(to right, #d4d4e2, #85a1e1); 
    width: 100%;
}
.content-singIn {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15vh 0 10vh 0;
}

.sign-box {
    text-align: center;
    width: 23vw;
    min-width: 280px;
}

.sign-toggle-nav {
    display: inline-flex;
    border-radius: 5px;
    overflow: hidden;
}

.sign-toggle-button {
    padding: 10px 20px;
    background: white;
    color: #3360A4;
    font-size: 16px;
    text-decoration: none;
}

.sign-toggle-button.active {
    background: #E9EBFD;
    font-weight: bold;
}

.title-text h1 {
    color: #333;
    margin-bottom: 20px;
    font: bold 50px Georgia;
}

.sign-entry-form {
    width: 100%;
    text-align: left;
}

.sign-entry-form form {
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 100%;
}

.sign-entry-form label {
    color: #757474;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 18px;
}

.sign-entry-form input {
    padding: 15px;
    font-size: 18px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
    width: 100%;
}

.submit-button {
    background-color: #1D4F9A;
    color: white;
    font-size: 16px;
    border: none;
    padding: 15px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    width: 100%;
    display: block;
}

.bottom-text {
    display: grid;
    grid-template-columns: 2fr 1fr;
    text-align: left;
    color: #565c68;
    font-size: 16px;
}
