.main-header {
    width: 100%;
    padding: 10px 40px;
    background-color: #133379;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 999;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.logo {
    color: white;
    font-size: 28px;
    font-weight: 700;
    margin: 0;
}

.header-right {
    display: flex;
    gap: 15px;
}

.header-left {
    display: flex;
}

.main-btn {
    background-color: transparent; /* mismo color del header */
    color: white;
    border: none;
    cursor: pointer;
    font-weight: 600;
    padding: 5px 20px;
    font-size: 30px;
    border-radius: 3px;
    transition: 0.3s ease;
    width: 150px;
}


.header-btn {
    background-color: white;
    color: #133379;
    font-weight: 600;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 6px;
    transition: 0.3s ease;
    width: 150px;
}

.header-btn.signup {
    background-color: #244a9b;
    color: white;
}

.header-btn:hover {
    transform: scale(1.05);
}