/* calendar.css */

/* Estilo global para el calendario */
.calendar-wrapper {
    background: linear-gradient(to right, #cbd4e1, #8fa7df);
    min-height: 100vh;
    font-family: 'Arial', sans-serif;
  }
  
  .calendar-container {
    max-width: 1000px;
    margin: 2rem auto;
    padding: 1rem;
    background: #ffffff;
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  }
  
  .calendar-header {
    text-align: center;
    margin-bottom: 2rem;
  }
  
  .calendar-header button {
    padding: 0.75rem 1.5rem;
    background-color: #FF5722;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s, transform 0.3s;
    font-size: 1.2rem;
  }
  
  .calendar-header button:hover {
    background-color: #e64a19;
    transform: scale(1.1);
  }
  
  .calendar-header strong {
    margin: 0 1rem;
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
  }
  
  #calendar {
    height: 700px;
    background-color: #fff;
    border-radius: 12px;
    border: 1px solid #ccc;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  button:focus {
    outline: none;
  }
  
  button:disabled {
    background-color: #ddd;
    cursor: not-allowed;
  }
  
  button:disabled:hover {
    background-color: #ddd;
  }
  
  /* Estilos del calendario para botones de navegación */
  button.button-style {
    margin-left: 1rem;
    padding: 0.75rem 1.5rem;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s, transform 0.3s;
    font-size: 1rem;
  }
  
  button.button-style:hover {
    background-color: #388E3C;
    transform: scale(1.05);
  }
  
  /* Botón "Hoy" */
  button.button-style-today {
    background-color: #FF9800;
  }
  
  button.button-style-today:hover {
    background-color: #F57C00;
  }
  