/* Popup overlay que oscurece el fondo */
.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6); /* Fondo más oscuro */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

/* Contenedor del popup */
.popup-container {
  background: #fff;
  padding: 1pt;
  border-radius: 10px;
  width: 500px;
  max-width: 100%;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  position: relative;
  font-family: Arial, sans-serif;
  color: #333;
  overflow: hidden; /* Asegura que el contenido no sobrepase el contenedor */
}

/* Encabezado del popup */
.popup-header {
  background-color: #1e2a47; /* Azul oscuro */
  color: #fff;
  padding: 15px;
  border-radius: 10px 10px 0 0; /* Bordes redondeados en la parte superior */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.close-btn {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: #fff;
}

/* Estilos para el contenido del evento */
.popup-content {
  font-size: 16px;
  margin-top: 20px;
}

.event-detail {
  margin-bottom: 15px;
}

.event-detail label {
  font-weight: bold;
  display: block;
  margin-left: 20px; /* Añadir margen inferior entre los campos */

  margin-bottom: 5px;
}

.event-detail input,
.event-detail textarea {
  width: 90%;
  padding: 12px;
  font-size: 14px;
  margin-left: 20px; /* Añadir margen inferior entre los campos */

  border: 1px solid #ccc;
  background-color: #f7f7f7;
  transition: border-color 0.3s ease;
}

.event-detail input:focus,
.event-detail textarea:focus {
  border-color: #1e2a47; /* Color de borde en focus */
  outline: none;
}

textarea {
  resize: vertical;
  height: 120px;
}

/* Pie del popup con el botón de cerrar */
.popup-footer {
  background-color: #1e2a47; /* Azul oscuro */
  padding: 15px;
  display: flex;
  justify-content: flex-end;
  border-radius: 0 0 10px 10px; /* Bordes redondeados en la parte inferior */
}

.save-btn,
.close-btn {
  padding: 12px 20px;
  background-color: #047bfe;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
  margin-left: 10px;
}

.save-btn:hover,
.close-btn:hover {
  background-color: #0361c3;
}

/* Estilos para los campos de solo vista */
input[readonly], textarea[readonly] {
  background-color: #f0f0f0; /* Fondo gris claro */
  border: 1px solid #ddd;
  cursor: not-allowed; /* Cursor indicando que no se puede editar */
  color: #555;
}

/* Estilos responsivos */
@media (max-width: 600px) {
  .popup-container {
    width: 90%;
    padding: 15px;
  }
}
